html, body {
    font-size: 100%;  
    background-color: #FFF8F0;
}
  
.accordion {
    margin: 40px;
}
  
.accordion dt,
.accordion dd {
    padding: 12px;
    border: 1px solid #000;
}
  
.accordion dt a {
    display: block;
    color: #000;
    font-weight: bold;
}
  
.header{
    background-color: #C6AC8F;
}

.value, body, html, .header,
#button_theme{
    transition-duration: 1.5s;
    transition-timing-function: ease-in-out;
}

.accordion dd {
    margin: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    font-size: 1rem;
    color: #000;
}
  
.accordion dd:last-of-type {
    border-bottom-width: 1px;
}

.dark_bg{
    background-color: #121619;
}

.dark_whitefont{
    color: #C4B2BC;
}

.dark_bg_header{
    background-color: #304854;
}
