{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>What's Up, Rian?</title>
</head>
<body>


    <div class="container-fluid" style="min-height: 665px;">
        <form action="{% url 'landing_page:add_my_status' %}" method="POST">
            <div>
                {% csrf_token %}
                <h1 class="text-center">
                    Hello, What's Up?<br>
                </h1>
                <div class="text-center">
                    {{ form.the_status }}
                </div>
            </div>

            <div class="text-center">
                <button type="submit" id="submit_post" class="btn btn-primary">Post it!</button>
            </div>        
        </form>    
    </div>
                
    <div class="container-fluid" id="column_status" style="background-color: #FFA69E;">
        <div class="row">
            {% for status in all_status %}
            <div class="col-4">
                <div class="card" style="margin: 15px;">
                    <div class="card-header">
                        <br>
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>{{ status.the_status }}</p>
                            <footer class="blockquote-footer">{{ status.time_uploaded }}</footer>
                        </blockquote>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
</body>
</html>