{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'index_jquery.css' %}">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'index_jquery.js' %}" type="text/javascript"></script>
    <title>Hello JQuery!</title>
    
</head>
<body>
    <div class="container">
        <dl class="accordion">
            <dt class="header" ><a id="first_header" class="title_acc" href="">Aktivitas</a></dt>
            <dd>
                <p class="value">
                    Aktivitas saya saat ini adalah kuliah setiap senin - jumat, menjadi asisten dosen untuk mata kuliah DDP1
                    dan menjalani hobi sebagai pengajar di suatu lembaga bimbel.
                </p>
            </dd>
            <dt class="header"><a class="title_acc" href="">Pengalaman</a></dt>
            <dd>
                <p class="value">
                    Beberapa pengalaman saya antara lain:
                </p>
                <div class="value">
                    <li>
                        Ketua Ekstrakurikuler Musik Modern SMAN 1 Cibungbulang
                    </li>
                    <li>
                        Staff Perlengkapan Educare
                    </li>
                    <li>
                        Staff Syiar Kreatif FUKI Fasilkom UI
                    </li>
                    <li>
                        PJ Penunjang SIWAK-NG 2019
                    </li>
                    <li>
                        Asisten Dosen DDP1
                    </li>
                    <li>
                        Tentor MTK Primagama
                    </li>
                </div>
                
            </dd>
    
            <dt class="header"><a class="title_acc" href="">Penghargaan</a></dt>
            <dd>
                <div class="value">
                    <li>
                        Juara 1 Lomba Band Tingkat SMA se-Kabupaten Bogor
                    </li>
                    <li>
                        Juara 3 Lomba Band Tingkat SMA se-Bogor Barat
                    </li>
                </div>
            </dd>
        </dl>
    
        <div class="text-center">
            <button type="button" class="btn btn-outline-dark" id="button_theme">Change Theme!</button>
        </div>
    </div>

</body>
</html>